.rules {
  margin: 20px auto 0;
  width: 90%;
  color: white;
  font-size: 14px;
}
.rules ol {
  margin: 10px;
}
.rules-ul-li {
  margin-left: 20px;
}
.rules-ul-ul-li {
  margin-left: 40px;
}
.rules table {
  border-collapse: collapse;
  margin-left: 20px;
  background: #151a2c;
}
.rules table tr {
  border-bottom: 1px solid rgba(37, 35, 35, 0.473);
}

.rules table tr td {
  padding: 5px;
}

@media screen and (min-width: 700px) {
}
