.user-team {
  margin: 0 auto 4em;
}
.user-team-detail {
  padding: 20px;
  height: 350px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: linear-gradient(#070613, #151a2c);
}
.user-team-bottom {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.user-team-bottom-roster {
  width: 100%;
}

.user-team-bottom-tournament {
  width: 100%;
}
.user-team-roster-wraper {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.user-team-roster {
  margin: 10px 0;
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.user-team-roster a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-team-delete-team {
  display: inline-block;
  width: fit-content;
  padding: 10px;
  margin: 10px;
  font-size: 0.75em;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  background: #00deab;
  text-transform: uppercase;
  color: black;
  outline: none;
  transition: ease-in-out 0.3s;
  text-decoration: none;
  cursor: pointer;
}

.user-team-detail-team-name {
  margin: 20px;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}
.user-team-invite-button-wraper {
  margin: 0 auto;
}
.user-team-invite-button {
  background: #00dbae;
  color: black;
  border-radius: 20px;
  padding: 10px;
  outline: none;
  font-weight: bold;
  font-size: 11px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  text-transform: uppercase;
  border: none;
  width: 250px;
  margin: 0 5px;
}

.three-dots {
  position: absolute;
  top: 2px;
  right: -3px;
}
/* 
.user-team-roster {

} */
@media screen and (min-width: 800px) {
  .user-team {
    margin: 0 auto 1em;
  }
  .user-team-detail {
    flex-direction: row;
    height: 250px;
    margin: 3.7em auto 0;
  }

  .user-team-bottom {
    flex-direction: row;
  }

  .user-team-bottom-roster {
    width: 50%;
  }

  .user-team-bottom-tournament {
    width: 50%;
  }
}
