.notification {
  margin: 0 auto 5em;
  width: 96%;
}

.notification-wraper {
  display: flex;
  padding: 5px;
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}
.notification-wraper:hover {
  background-color: #ddd9d918;
}

.notification-detail {
  margin-left: 10px;
  width: 100%;
}
.notification-detail p {
  line-height: 1.6;
}

.notification-sender {
  font-weight: bold;
}

.notification-time {
  font-size: 12px;
  color: #ffffff6c;
}

.notification-action {
  background-color: #2d303e;
  width: fit-content;
  padding: 5px;
  border-radius: 10px;
  color: white;
  margin-right: 10px;
  font-size: 14px;
}

@media screen and (min-width: 1024px) {
  .notification {
    margin: 0 auto 1em;
  }
  .notification-wraper {
    padding: 10px;
  }
}
