.admin {
  margin-top: 4em;
  padding: 20px;
  color: white;
}
.admin table {
  border: 1px solid white;
  border-collapse: collapse;
}

.admin table td,
.admin table th {
  padding: 10px;
  border: 1px solid white;
}

.admin table input {
  width: 80px;
  margin: 5px;
}

.admin table select {
  width: 90px;
}
.pointInput {
  display: flex;
}
.admin-teams {
  overflow: auto;
}
.action {
  display: flex;
  justify-content: space-between;
}

.admin input:focus {
  border: 2px solid #00deab;
  transition: ease-in-out 0.3s;
}
.admin input:hover {
  border: 2px solid #00deab;
  transition: ease-in-out 0.3s;
}

.admin input,
.admin select {
  border-radius: 10px;
  background-color: #0e1013;
  color: white;
  width: 100%;
  height: 40px;
  text-align: left;
  text-indent: 10px;
  margin-bottom: 20px;
  border: 2px solid rgb(85, 85, 85);
  outline: none;
  transition: ease-in-out 0.3s;
}
.inputContainer {
  display: flex;
  flex-direction: column;
}
.editTournament,
.createTournament {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: left;
}

.admin-link {
  width: fit-content;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: #00deab;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  margin-bottom: 1em;
}
@media screen and (min-width: 976px) {
  .editTournament,
  .createTournament {
    width: 600px;
  }
  .admin input,
  .admin select {
    width: 400px;
  }
}
