.navbar-responsive {
  background: #151a2c;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.849);
  z-index: 4;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.3s ease;
}
.navbar-responsive a {
  text-decoration: none;
  margin-right: 10px;
}

.navbar-responsive .login-button {
  display: inline-block;
  margin: 5px;
  width: 70px;
  height: 35px;
  padding: 5px 20px;
  font-size: 0.75em;
  font-weight: bold;
  border-radius: 5px;
  background: #00deab;
  text-transform: uppercase;
  color: black;
  transition: ease-in-out 0.3s;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.navbar-responsive .login-button:hover {
  background: rgb(4, 172, 132);
}

.menuicon {
  position: absolute;
  top: 0px;
  left: 2px;
  width: 50px;
  height: 50px;
  background: url("../img/iconmonstr-menu-1-72.png");
  background-size: 32px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 10px;
  z-index: 10;
  transition: all 0.3s ease;
}

@media screen and (min-width: 976px) {
  .navbar-responsive {
    height: 60px;
  }
  .menuicon {
    display: none;
  }
}
