.container > p {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 10px;
  text-align: center;
}
.container > p span {
  color: #00deab;
}
.prize {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
@media screen and (min-width: 700px) {
  .prize {
    flex-direction: row;
  }
}
@media screen and (min-width: 976px) {
  .tourneyInfoPrize {
    justify-content: space-around;
  }
}
