.profile_team {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.profile-team-teams {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 0;
}
.profile-team-teams a {
  text-decoration: none;
}

.profile-team-wraper {
  position: relative;
  width: 105px;
  margin: 10px 0;
}
.profile-team-avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-team-avatar a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-team-avatar h5 {
  font-size: 16px;
}
.profile-team-avatar span {
  color: #ffffff6c;
  font-size: 14px;
  margin-top: -10px;
}
.profile-team-create-team {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #00deab;
  color: #2d303e;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.create-button:hover {
  background-color: #00deaa9f;
}

.create-team-input {
  border-radius: 10px;
  background-color: #0e1013;
  color: white;
  width: 100%;
  height: 40px;
  text-align: left;
  text-indent: 10px;
  margin: 10px auto;
  border: 2px solid rgb(85, 85, 85);
  outline: none;
  transition: ease-in-out 0.3s;
}

.create-team-error {
  border: 2px solid red;
  text-align: left;
}

.create-team-input:focus {
  border: 2px solid #00deab;
  transition: ease-in-out 0.3s;
}
.create-team-input:hover {
  border: 2px solid #00deab;
  transition: ease-in-out 0.3s;
}

.create-team-button {
  display: inline-block;
  width: fit-content;
  height: 40px;
  padding: 11px 20px;
  font-size: 0.75em;
  border: none;
  font-weight: bold;
  border-radius: 50px;
  background: #00deab;
  text-transform: uppercase;
  color: black;
  outline: none;
  transition: ease-in-out 0.3s;
  text-decoration: none;
  cursor: pointer;
}
.create-team-button:hover {
  background: #00deaa9f;
}
.cancel-button {
  display: inline-block;
  width: 100px;
  height: 40px;
  padding: 11px 20px;
  font-size: 0.75em;
  border: none;
  font-weight: bold;
  border-radius: 50px;
  background: #151a2c;
  text-transform: uppercase;
  color: white;
  outline: none;
  transition: ease-in-out 0.3s;
  text-decoration: none;
  cursor: pointer;
}

.cancel-button:hover {
  background: #151a2cbe;
}

.profile-no-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin: 0 auto;
  height: 100px;
  color: rgba(168, 164, 168, 0.333);
  text-align: center;
}

@media screen and (min-width: 976px) {
  .profile-team-teams {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .profile-team {
    width: 120px;
  }
}
