.profile {
  margin: 3em auto 1em;
  height: 260px;
  background-color: #151a2c;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(17, 18, 23, 0)),
    to(#111217)
  );
  background: linear-gradient(#070613, #151a2c);
}

@media screen and (min-width: 976px) {
  .profile {
    margin: 3.7em auto 1em;
  }
}
