.form {
  background: #151a2c;
  color: white;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kiri {
  background-color: #151a2c;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0px 30px;
  padding: 30px 0px;
}

.form p {
  color: black;
}

.form li {
  list-style: none;
}

.team-data {
  margin-bottom: 2em;
  width: 100%;
}

.roster,
.contact,
.submit {
  width: 100%;
}

.pendaftaran-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1.25em;
}
.registration-input-container {
  width: 100%;
}
.registration-input:hover {
  border: 2px solid #00deab;
  transition: ease-in-out 0.3s;
}
.registration-input:focus {
  border: 2px solid #00deab;
  transition: ease-in-out 0.3s;
}

.registration-input {
  border-radius: 10px;
  background-color: #0e1013;
  color: white;
  width: 100%;
  height: 50px;
  text-align: left;
  text-indent: 10px;
  margin: 10px auto;
  border: 2px solid rgb(85, 85, 85);
  outline: none;
  transition: ease-in-out 0.3s;
}

.singkatanTeam {
  text-transform: uppercase;
}

.err {
  border: 2px solid red;
}
.err:hover {
  border: 2px solid red;
}

.image-preview {
  width: 80px;
  margin: 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
}
.image-preview-image {
  display: none;
  width: 100%;
  margin: 0 auto;
  margin-right: 40px;
}

input#logo {
  color: transparent;
}
input#logo::-webkit-file-upload-button {
  visibility: hidden;
}
input#logo::before {
  content: "Klik untuk upload logo";
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 8px 0;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
}

.logotim {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error {
  font-size: 11px;
  color: red;
}
.error-msg {
  color: red;
  font-size: 11px;
  display: block;
  margin: -10px 0 0;
  padding: 0;
  padding-left: 5px;
  opacity: 0;
}

.registration-button {
  display: inline-block;
  width: 100%;
  height: 50px;
  padding: 11px 20px;
  margin-top: 1em;
  font-size: 0.75em;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  background: #00deab;
  text-transform: uppercase;
  color: black;
  outline: none;
  transition: ease-in-out 0.3s;
  text-decoration: none;
  cursor: pointer;
}

.registration-button:hover {
  background: rgb(4, 172, 132);
}

.logo-input-wraper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.logo-req {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.logo-req ul li {
  list-style: circle;
}

@media screen and (min-width: 700px) {
  .team-data {
    display: inline-block;
  }
  .team-data,
  .roster,
  .contact,
  .submit {
    max-width: 500px;
  }
  .logotim,
  input#logo {
    width: 250px;
  }
  .logo-input-wraper {
    flex-direction: row;
  }
  .form li {
    display: flex;
  }
  .registration-input-container {
    margin: 5px;
  }
}
