.side-bar {
  position: fixed;
  left: -100%;
  top: 50.2px;
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #2d303e;
  transition: all 0.3s ease;
  z-index: 4;
  font-weight: bold;
  overflow-y: auto;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.4);
}

.side-bar.active {
  left: 0;
}

.side-bar .nav {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  padding: 5px;
}

.side-bar .nav a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin: 10px auto 0;
  color: white;
  text-decoration: none;
  font-size: 16px;
  text-align: left;
}

.side-bar .nav a:hover {
  background: #151a2c;
  border-radius: 10px;
}

.side-bar .nav a svg {
  margin-right: 10px;
}
.nav {
  display: flex;
  height: 100%;
}
.sidebar-top {
  height: 40%;
  padding: 5px;
}
.sidebar-bottom {
  height: 30%;
  padding: 5px;
}

.sidebar-social {
  margin: 10px 0;
}
.sidebar-social-icon {
  display: flex;
}

.sidebar-social .sidebar-social-icon a:hover {
  background-color: transparent;
}
.sidebar-social .sidebar-social-icon a {
  width: 30px;
  padding: 0 10px;
  margin: 0 0 10px;
}

.sidebar-contact {
  margin: 10px 0;
}
.sidebar-contact-icon {
  display: flex;
}

.sidebar-contact .sidebar-contact-icon a:hover {
  background-color: transparent;
  text-decoration: underline;
}
.sidebar-contact .sidebar-contact-icon a {
  width: 30px;
  padding: 0 10px;
  font-size: 12px;
  margin: 0 0 10px;
}

.sidebar-logout button {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px auto 0;
  padding-left: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  text-align: left;
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-weight: bold;
}

.sidebar-logout button:hover {
  background: #151a2c;
  border-radius: 10px;
}

.sidebar-logout button svg {
  margin-right: 10px;
}

@media screen and (min-width: 976px) {
  .side-bar {
    left: 0;
    top: 62.5px;
  }
}
