.sidebar {
  position: fixed;
  padding: 0 40px;
  left: -100%;
  top: 0;
  width: 250px;
  height: 100%;
  background: #2d303eec;
  transition: all 0.3s ease-in-out;
  z-index: 4;
  overflow-y: auto;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.4);
}

.sidebar.active {
  left: 0;
}

.sidebar a {
  transition: all ease-in-out 0.3s;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.sidebar--logo {
  margin-bottom: 30px;
  padding: 20px;
  font-family: "Oswald", sans-serif;
  color: white;
}

.sidebar--play--button {
  margin-bottom: 20px;
}

.sidebar--menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.sidebar--social {
  display: flex;
  margin-bottom: 20px;
}

.sidebar--social svg {
  margin-right: 10px;
  width: 13px;
}

.sidebar--help {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.sidebar--menu a,
.sidebar--help a {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.sidebar--menu svg,
.sidebar--help svg {
  margin-right: 20px;
  width: 18px;
}

.sidebar--menu a:hover,
.sidebar--help a:hover,
.sidebar--social svg:hover {
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .sidebar {
    left: 0;
    background: #2c2e3c;
  }
}
