.team-list-wraper {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-list {
  color: white;
  font-size: 14px;
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  background: #070613;
  padding: 10px 30px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 0.8px rgba(255, 255, 255, 0.288) solid;
  cursor: pointer;
}
.team-list > a {
  display: flex;
  text-decoration: none;
  color: white;
  margin-top: 5px;
}
.team-list:hover {
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.253);
}

.team-list:after {
  content: url("../img/iconmonstr-arrow-66-16.png");
  position: absolute;
  right: 15px;
  top: 15px;
  transition: ease-in-out 0.3s;
}

.team-list-active {
  margin-bottom: 0px;
  border-bottom: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.team-list-active:after {
  transform: rotate(180deg);
}
.logo-team {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-team img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 40px;
  max-height: 40px;
  padding: 0;
}
.team-name {
  display: flex;
  justify-content: baseline;
  text-align: left;
  margin-left: -10px;
}

.team-name span {
  padding: 0 10px;
  color: #00deab;
  text-transform: uppercase;
}
.list {
  background: #070613;
  display: none;
  width: 100%;
  padding: 5px 8px;
  margin-bottom: 10px;
  border: 1px rgba(255, 255, 255, 0.479) solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.list ul {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  color: white;
  margin: 1em 0;
}

.list ul li {
  list-style: none;
  padding: 10px 10px;
}

.list ul li span {
  color: #00deab;
  padding: 0 5px;
}
@media screen and (min-width: 700px) {
  .team-list {
    font-size: 16px;
  }

  .list ul {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    color: white;
  }
}
