.team-detail {
  margin: 3em auto 1em;
  padding: 20px;
  height: 350px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.team-detail-identity {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.team-detail-logo {
  object-fit: contain;
  width: 100px;
}

.team-detail-team-name {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}
.team-detail-info {
  display: flex;
  width: 100%;
  align-items: center;
}

.team-detail-info div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
}
.team-detail-info div span {
  font-size: 0.9em;
}
.team-detail-info div span:last-child {
  margin-top: -20px;
  font-weight: bold;
  font-size: 2em;
}

.team-detail-roster {
  display: flex;
  flex-wrap: wrap;
  margin: -4em 0 1em;
}

@media screen and (min-width: 800px) {
  .team-detail {
    flex-direction: row;
    width: 96%;
    height: 250px;
    margin: 5em auto 0;
    background: none !important;
  }

  .team-detail-logo {
    margin: 10px;
    width: 150px;
  }

  .team-detail-identity {
    flex-direction: row;
    width: 50%;
  }

  .team-detail-roster {
    width: 96%;
    margin: 0 auto 1em;
  }
  .team-detail-info {
    width: 30%;
  }
  .team-detail-team-name {
    font-size: 2.5;
  }
}
