.tournaments-img {
  margin-top: 3em;
  position: relative;
  height: 50vh;
}
.tournaments-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}

.fade {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(17, 18, 23, 0)),
    to(#111217)
  );
  background: linear-gradient(rgba(17, 18, 23, 0), #151a2c);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 2px 2px 6px rgba(14, 13, 13, 0.555);
  padding: 5px;
}

.fade h1 {
  font-size: 2em;
}
.fade span {
  font-size: 14px;
}
.tournaments {
  margin: 0 auto;
  width: 95%;
}
.pubg-logo {
  position: absolute;
  top: 5px;
  left: 5px;
  background: url("../img/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 40px;
  height: 30px;
}
.tournament-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.tournaments a {
  text-decoration: none;
}
.tournament {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  height: 160px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.712);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  transition: all ease-in-out 0.3s;
}

.tournament:hover {
  opacity: 0.7;
}
.tournament h3 {
  font-size: 16px;
  line-height: 1.2;
  padding: 2px 5px;
  text-shadow: 2px 2px 6px rgba(14, 13, 13, 0.555);
  text-transform: capitalize;
  font-family: "Oswald";
}

.tournament-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  background-color: rgba(53, 55, 56, 0.753);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.tournament-bottom span {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  width: 33%;
  padding: 5px;
}

.tournaments-status {
  position: absolute;
  display: block;
  top: 5px;
  right: 5px;
  border-radius: 10px;
  width: 64px;
  font-size: 10px;
  padding: 3px;
  text-align: center;
}
.open {
  background-color: rgb(209, 221, 42);
}
.completed {
  background-color: rgb(13, 199, 13);
}
.canceled {
  background-color: rgb(199, 35, 13);
}
.ongoing {
  background-color: rgb(13, 146, 199);
}

@media screen and (min-width: 680px) {
  .tournaments {
    margin: 1em auto;
  }
  .tournament {
    margin: 10px;
    width: 300px;
  }
  .tournament-container {
    flex-direction: row;
  }
  .fade {
    align-items: flex-start;
    padding-left: 3em;
  }
  .fade h1 {
    font-size: 3em;
  }
}

@media screen and (min-width: 1200px) {
  .tournaments-img {
    height: 80vh;
  }
}
