.tournaments {
  margin: 4em auto 1em;
  width: 95%;
}
.pubg-logo {
  position: absolute;
  top: 5px;
  left: 5px;
  background: url("../img/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 40px;
  height: 30px;
}
.tournament-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.tournaments a {
  text-decoration: none;
}
.tournament {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  border: 0.8px rgba(255, 255, 255, 0.288) solid;
  height: 160px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.712);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  transition: all ease-in-out 0.3s;
}

.tournament:hover {
  opacity: 0.7;
}
.tournament h3 {
  font-family: "Oswald";
  font-size: 16px;
  line-height: 1.2;
  padding: 2px 5px;
  text-shadow: 2px 2px 6px rgba(14, 13, 13, 0.555);
  text-transform: capitalize;
}

.tournament-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  background-color: rgba(53, 55, 56, 0.753);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.tournament-bottom span {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  width: 33%;
  padding: 5px;
}

@media screen and (min-width: 680px) {
  .tournaments {
    margin: 5em auto 1em;
  }
  .tournament {
    margin: 10px;
    width: 300px;
  }
  .tournament-container {
    flex-direction: row;
  }
}
