.profile-friends {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.profile-no-friends {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin: 0 auto;
  height: 100px;
  color: rgba(168, 164, 168, 0.333);
  text-align: center;
}

.profile-friends-list {
  overflow-y: auto;
  height: 80%;
}

.profile-friends-list div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.profile-friends-list div a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.profile-friends-list div img {
  width: 50px;
  border-radius: 50%;
  margin: 0;
  margin-right: 10px;
}
.profile-friends-list div span {
  color: white;
  font-size: 16px;
  padding-left: 10px;
}
.profile-friends-add-button {
  background: #00dbae;
  color: black;
  border-radius: 20px;
  padding: 10px;
  outline: none;
  font-weight: bold;
  font-size: 11px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  text-transform: uppercase;
  border: none;
  width: fit-content;
}
.profile-friends-add-button:hover {
  background: rgb(4, 172, 132);
}
