.chatList {
  margin: 0 auto 5em;
  width: 95%;
  height: 100%;
}

.chatList-chat {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  padding: 5px;
  transition: 0.3s all ease-in-out;
}
.chatList-chat:hover {
  background-color: #ddd9d918;
}

.chatList-chat-avatar {
  margin-right: 15px;
  margin-bottom: 10px;
}

.chatList-chat span {
  display: block;
  margin-top: -5px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.425);
}
.chatList-chat-recipient {
  width: 100%;
  border-bottom: 1px solid rgb(87, 87, 87);
  padding-bottom: 10px;
  position: relative;
}
.chatList-time {
  position: absolute;
  right: 5px;
  bottom: 2px;
  color: rgba(255, 255, 255, 0.425);
  font-size: 12px;
}

@media (min-width: 1024px) {
  .chatList {
    margin: 0 auto 1em;
  }
  .chatList-chat {
    padding: 10px;
  }
}
